*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}
html, body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;  
}
